
// Custom Variables and Mixins

@import "style/variables.scss";
@import "style/mixins.scss";

// Fonts

@import "font.scss";

// OWL carousel

@import "owl.carousel.scss";

// Bootstrap

@import "bootstrap.scss";


body{

	position: relative;
	// height:100%;
	// overflow:hidden;
}

.wrapper{

	@include margin-custom(40px, 54px, 40px, 54px);
	
	background: url(../images/texture.png) repeat;
	position: relative;
}

// HEADINGS

.heading{

	&__main{

		@include font($font-family-main,$font-weight-main,40px,$brand-primary);
	}

	&__sub{

		@include font($font-family-ofthen,normal,40px,$brand-primary);
	}

	&__small{

		@include font($font-family-ofthen,normal,20px,$gray-base);
		
	}
}

// HEADER

.header{

	position: absolute;
    display: inline-block;
    left: 20px;
    top: 20px;
}

// LOGO

.logo{
	display: inline-block;
	vertical-align: top;
	width: 318px;
	position: relative;
	
	&:hover,
	&:focus{
		.logo{
			&-img{
				opacity: 0;
				&--hover{
					opacity: 1;
				}
			}
		}
	}
	
	
	&-img{
		
		opacity:1;
		transition: all 0.3s;

		&--hover{
			position: absolute;
			top:0;
			opacity: 0;
			transition: all 0.3s;
		}
	}
	
}

// NAVIGATION

.main-navbar{

	display: inline-block;
	vertical-align: top;
	@include margin-horizontal(0, 210px);
}

.main-nav{

	margin-top:0;
	border:none;
	
	&-holder{

		display: inline-block;
	    background: url(../images/texture.png) repeat;
	    @include padding-custom(0, 15px, 20px, 0);
	    z-index: 2000;
	}
	
	.main-nav{

		&__link{
			border: none;
			&:hover,
			&:focus{
				background-color: transparent;
				color: $brand-primary;
				
				&:after{
					background: $brand-primary;
				}
			}

		}

	}

	&__item{

		&.active{


			.main-nav{

				&__link{
					color: $brand-primary;
					border: none;
					background-color: transparent;
					&:hover,
					&:focus{
						border: none;
						background-color: transparent;
						color: $brand-primary;
						
					}

					&:after{
						content:"";
						display: block;
						height: 2px;
						width: 20px;
						background: $brand-primary;
					}
				}
			}
		}
		
	}
	
	&__link{

		@include font($font-family-rare,normal,20px,$gray-base);
		transition: all 0.3s;
		&:after{
			content:"";
			display: block;
			height: 2px;
			background: transparent;
			transition: all 0.3s;
		}
		
		
	}
}

// MAIN

.main{

	@include padding-vertical(50px, 0);

	&__border{

		border: 1px solid $brand-success;
		
	}

}

// ABOUT

.about{

	&__text{

		overflow:hidden;
		@include font($font-family-main,$font-weight-main,15px,$gray-base);

		&:before{
		

			content:" ";
			float: left;
			width: 7px;
			height: 2px;
			background-color: $gray-base;
			
		}

	}

	&__btn{

		@include font($font-family-main,$font-weight-main,20px,$gray-base);
		border: 1px solid $brand-primary;
		border-radius: 0;
		transition: all 0.3s;
		&:hover,
		&:active,
		&:focus{
			border: 1px solid $brand-primary;
			background-color: $brand-primary;
			color: $gray-lighter;
		}
	}

	&__carousel{

		position: relative;

		&__img{

			@include background-cover;
			width: 742px;
			height: 482px;
		}

		&__caption{
			
			&__number{

				display: inline-block;
				vertical-align: middle;
				@include font($font-family-rare,normal,15px,$brand-primary);
			}

			&__title{

				display: inline-block;
				vertical-align: middle;
				@include font($font-family-rare,normal,15px,$gray);

			}

			&__name{
				@include font($font-family-seldom,normal,15px,$gray);
				@include quotes
				
			}
		}
	}
		
}

// CAROUSEL DOTS

.owl{

	&-carousel{

		&--custom{

			position: absolute;
    		top: 40px;
    		right: -30px;
		}
	}

	&-controls{
		position: relative;
	}

	&-dots{
		position: relative;
		left:20px;
		bottom:52px;
	}

	&-dot{

		float:left;
		height: 10px;
		width: 10px;
		background-color: $gray-lighter;
		transition: all 0.3s;
		@include margin-horizontal(10px, 0);
		
		&.active{
			background-color: $brand-primary;
		}
	}
}


// PARTICIPANTS

.participants{

	margin-top:300px;
	
	&__heading{
		margin:0;
	}
	
	&__checkboxes{
		float: right;
	}
	&__item{

		border: 2px solid $gray-base;
		transition: all 0.3s;
		@include margin-vertical(0, 50px);
		
		&__heading{
			@include quotes;
			margin: 0;
			
			&-holder{
				text-align: center;
			}
		}

		&:hover,
		&:focus{
			border: 2px solid $brand-primary;
			cursor:pointer;
			
			.participants{
				&__btn{
					
					border: 1px solid $brand-primary;
					background-color: $brand-primary;
					color: $gray-lighter;
				}
			}
		}
	}

	&__list{

		&__item{

			@include font($font-family-main,$font-weight-main,20px,$gray-light);
			
			&__content{
				color: $gray-base;
			}

			&__link{

				border-bottom:1px dashed;
				color: $brand-warning;
				
				&:hover,
				&:focus,
				&:active{

					border-bottom:1px dashed;
					color: $brand-warning;
					text-decoration: none;
				}
			}
		}
	}

	&__btn{

		background-color: transparent;
		border: 1px solid $gray-base;
		border-radius:0;
		box-shadow:none;
		@include font($font-family-main,$font-weight-main,20px,$gray-base);
		transition: all 0.3s;
		
		&:hover,
		&:active,
		&:focus{
			outline:none;
			box-shadow:none;
		}

		&:active:focus{

			outline:none;
		}
		
		&-holder{
			text-align: center;
		}
	}
	
	
}